<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="">
      <title> Ratings </title>
      <!-- Style CSS -->
      <link rel="stylesheet" href="/css/reviews.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
   </head>
   <body>
      
      <main class="cd__main">
         <!-- Start DEMO HTML (Use the following code into your project)-->
         <div class="wrapper"> 
  <div class="title">Rate your experience</div>
  <div class="content">We highly value your feedback! Kindly take a moment to rate your experience and provide us with your valuable feedback.</div>
  <div class="rate-box">
    <input type="radio" name="star" id="star0"/>
    <label class="star" for="star0"></label>
    <input type="radio" name="star" id="star1"/>
    <label class="star" for="star1"></label>
    <input type="radio" name="star" id="star2" checked="checked"/>
    <label class="star" for="star2"></label>
    <input type="radio" name="star" id="star3"/>
    <label class="star" for="star3"></label>
    <input type="radio" name="star" id="star4"/>
    <label class="star" for="star4"></label>
  </div>
  <textarea cols="30" rows="6" placeholder="Tell us about your experience!"></textarea>
  <div class="submit-btn">Send</div>
  <form action="/v1/writeReview" method="post" hidden>
      <input type="text" name="halll_id" id="" value="<%= id %>" hidden>
      <input type="number" name="stars" id="stars" hidden>
      <input type="text" name="message" id="message" hidden>
      <button id="send"></button hidden>
  </form>
</div>
      <script src="/js/reviews.js"></script>
   </body>
</html>